.parent {
	position: fixed;
	top: 0;
	left: 0;
    height: 6vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0.5rem 1.2rem 0.5rem 1rem;
    margin-top: 10px;
    z-index: 2;
}

.parent > div:nth-child(1){
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.parent > div:nth-child(2){
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}