.link {
	margin: 0 1.5%;
	font-size: 1.2rem;
    padding: 8px 12px ;
    border-radius: 10px;
    background-color: #00fffb9f;
    color: #05101c;
}

.pending {
	height: 100%;
	width: auto;
    color: #05101c;
}
