.parent {
	height: 100vh;
	/* width: 100vw; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.parent_reverse {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.div1,
.div2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 50%;
}

.div1 {
	box-sizing: border-box;
	padding-left: 8vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.div1 > h1 {
	font-size: 3rem;
	font-weight: 800;
}

.div2 > p {
	font-size: 1.2rem;
}

.img > img {
	max-height: auto;
	max-width: 100%;
}

.img {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
