.parent {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	height: calc(100vh);
    padding-top: 7vh;
	box-sizing: border-box;
}

.chat {
	padding: 0vh 4rem 0rem 4rem;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	flex: 8;
	flex-direction: column;
	border-radius: 15px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.inputContainer {
	box-sizing: border-box;
	margin-bottom: 1vh;
	height: 100%;
	width: 100%;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.inputContainer > div {
	height: 70%;
	width: 90%;
	background-color: #16202e;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	box-sizing: border-box;
	padding: 1.5rem;
}

.inputContainer > div > input {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent !important;
	/* text-align: center; */
	color: white;
	font-size: 1.3rem;
	border: none;
}

.inputContainer > div > input::placeholder {
    text-align: center;
}


.inputContainer > div > input:disabled {
    cursor:not-allowed;
}

.icon {
	height: 2.2rem;
}

.icon > img {
	height: 100%;
	width: auto;
}

.no_msgs {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.no_msgs > h3
{   
    font-size: 1.8rem;
    color: #e8ebe3e3;
}

.no_msgs > p{
    font-size: 1.2rem;
    color: #e8ebe3e3;
}

.no_msg_logo{
    height: 10rem;
    margin: 5rem 0;
}

.no_msg_logo > img {
    max-height: 100%;
    max-width: auto;
}

.inputArea{
    position: relative;
}

.eraseMsgs{
    position: absolute;
    bottom: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.eraseBtn{
    background-color: #D2042D;
    padding: 2px 4px;
    border-radius: 5px;
    margin-top: 5px;
}