.parent {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;
}

.parent > div:nth-child(1) {
	display: flex;
	align-items: center;
	width: 50%;
}

.parent > div:nth-child(2) {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.parent > div:nth-child(2) > h2 {
	font-size: 2.2rem;
}

.parent > div:nth-child(2) > p {
	font-style: italic;
	font-size: 1.1rem;
}

.parent > div:nth-child(2) > p > a {
	color: #00fffbb0;
    transition: transform 0.3s ease-in-out;
}

.parent > div:nth-child(2) > p > a:hover {
	color: #00fffbdc;
    transform: scale(1.1);
}

.form {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-self: center;
	margin: 2vh 0;
}

.auth_label {
	margin: 2%;
}

.button{
    box-sizing: border-box;
    border-radius: 10px;
    height: 2.6rem;
    border: 0;
	width: 100%;
	background-color: #7476ca;
    margin-top: 1.2rem;
    font-size: 1rem;
}

.button:hover {
	background-color: #6365c7;
}
