@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/*
font-family: 'Roboto Slab', serif;
font-family: 'Work Sans', sans-serif;
*/

html,
body {
	margin: 0;
	padding: 0;
	background: #05101c;
	color: white;
	font-family: "Lato", sans-serif !important;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: hover;
}

input {
	/* Reset the default input styles */
	appearance: none;
	border: 1px solid #ccc;
	padding: 8px;
	margin: 4px 0;
	font-size: inherit;
}

input:active,
input:focus {
	/* Optional: Reset additional active/focus styles */
	outline: none;
	box-shadow: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
  }
  
  button:focus {
    outline: none;
  }
  
